%div.well
  %h1= @event.title
  %p= @event.description
  %address
    %strong= @event.venue
    %br
    = @event.address
    %br
    = @event.zip_code + " " + @event.city

  %div#map_canvas{ :style => "width:720px; height:400px" }

  = render :partial => "shared/social/twitter_share", :locals => { :event => @event }
  = render :partial => "shared/social/likebutton", :locals => { :event => @event }
  = render :partial => "shared/social/googleplus_button", :locals => { :event => @event }

%div.well
  %h2 On vient, c'est sûr
  %p les inscrits
  %p Je m'inscris

%div.well
  %h2 On passera peut-être
  %p les indécis
  %p Je viendrai peut-être


%div.well  %p Commentaires à venir...
